@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono';
    color:#FFFFFD;
}
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
  
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

body,html{
    overflow-x: hidden;
    background-color: rgb(6, 122, 255);
  
    background-image: url("https://i.pinimg.com/originals/81/d4/1b/81d41bf148ffe992f03c4e070acdd7ae.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;   
    transition: background-image 1s;
     display: flex;
     flex-direction: column;
     scroll-behavior: smooth;
    
}

   

a{
    text-decoration: none;
}
.nav-bar{
    position: absolute;
     z-index: 3;
     width:100%;
     display: flex;
     justify-content: flex-end;
    
   
}
 
ul{
    list-style-type:none;
}
.list{
    display:flex;
    font-size: 20px;
    font-weight: 900;
    flex-wrap: wrap;
  
}
.list li{
    padding-left:20px;
    padding-right: 20px;
    padding-top:10px;
}  
 
.main-page{
    
    position: relative;
    width:100%;
   min-height: 100vh;
  opacity:0;
  background: -webkit-linear-gradient(rgba(127, 127, 127, 0),
  rgba(0, 0, 0, 0) 95%,
  rgba(0, 0, 0, 1));
    display: flex;
    justify-content: center;
    
animation: reveal 4s forwards;
animation-delay: 1s;
}
@keyframes reveal{
    from{
        opacity: 0;

    }
    to {
        opacity: 1;
    }
}
.drop-down{
    width:40px;
    height: 40px;
}
.container{ 
    position: relative;
    width:90%;
    margin-top:5%;
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.heading
{  
    font-family: 'Roboto Mono';
    position: relative;
    margin-top: 10%;
    z-index: 3;
    width:50vw;
    font-size:65px;
    color:#FFFFFD;
    font-weight: bolder;
}
.date{
    padding:5vh;
}
.logo {
position: relative;

   width:450px;
   height: 450px;
   
}

.rickmortysvg
{
  position: absolute;
  margin-top:0;
    width:30em;
    height: 30em;
    transform: scale(0);
    z-index: 2;
    animation: pop 1s forwards;
    animation-delay: 4s;
}
@keyframes pop {
    from{
        transform: scale(0);
    }
    to {transform: scale(1.5);}
}
 h2{
     border-bottom:2px solid #000;
     padding-bottom: 10px;
     width:fit-content;
     
 }
 .btn-events{
     background-color:black;
     border-radius:10px ;
     width:200px;
     height: 50px;
     font-size: 30px;
     font-weight: bold;
     margin-top: 40px;
      border: none;
     text-align: center;
 }
 .btn-events:hover{
    background-color:white;
    color:black;
    border-radius: 20px;
 }

 footer{
     padding-top:5em ;
     background-color: #000;
     position: relative;
     z-index:11;
     /* padding-bottom:20em; */

 }
 .school{
     background-image: url("https://www.noticebard.com/wp-content/uploads/2019/10/iitm-gwalior.png");
     background-size: contain;
     background-repeat: no-repeat;
     min-width:15em;
     min-height: 15em;
 }
 .footer{
     position: relative;
     left:2em;
     display: flex;
     justify-content: space-around;
 }
 .team{
    left:2em;
     position: relative;
     top:1em;
     display: flex;
     padding-bottom: 1.5em;
 }
 .team img{
    margin-left: 10px; width:4em;
     height: 4em;
border-radius: 50%;
 }

 .team div{
     margin-left:3em;
 }



 .about{
 margin-top: 1em;
 }
 .about h2{
     text-align: center;
     width:100%;
 }
 .about p
 {
width:25em;
 }
 .team img:hover{
    border:solid 6px rgb(1, 255, 242);
    
 }
 .team img:hover:nth-child(1){
    border:solid 6px #39FF14;
 } 
 .team img:hover:nth-child(3)
 {
    border:solid 6px #FFD300;
 }
 .contact{
     margin-top: 1em;
     
 }
 .contact li{
     line-height:1.5em;
 }
 .footer{
     display: flex;
     flex-direction: row;

 }
 .copyrights h3{
     margin-top:3em;
     text-align: center;
     color:grey;
     padding-bottom:1em;
 }
.social{
    margin-top:1em;
}
  .social ul{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

  }
  .social ul li{
     margin-left: 1em;
     margin-right: 0.5em;
      padding:10px;
  }
  .social ul li svg{
      width:2em;
      height: 2em;
  }
.list1 svg:hover{ transform: scale(1.2); fill:#0407c3;}
.list2 svg:hover{ transform: scale(1.2); fill:#27cfec;}
.list3 svg:hover{ transform: scale(1.2); fill:#ff0101;}
.list4 svg:hover{ transform: scale(1.2); fill:#00a2ff;}
.list5 svg:hover{ transform: scale(1.2); fill:#ff5c1c;}
.list6 svg:hover{ transform: scale(1.2); fill:#3b58ff;}
.sponsors{
    padding-top: 2em;
}
 .sponsors ul{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }
 .sponsors h1{
     font-size: 60px;
     text-align: center;
 }
 .sponsors ul li img{
     width:30em;
      height:10em;
      padding-left: 1em;
      padding-right: 0.5em;

 }
 .sponsors ul li hr{
     opacity: 0;

 }
  
  .sponsors ul li img:hover{
      cursor: pointer;
      border: 1px solid white;
      border-radius: 0.5em;
      transform:translateY(-0.1em);
      transition: transform 0.5s ease;   
      animation-name: floating;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;    
  }

  .join-discord{
    margin-top: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
  }
  .join-discord img{
      margin-top: 1em;
      max-width:14em;
      max-height: 7em;
      background-color: #FFFFFF;
      cursor: pointer;
  }

  








 @media (max-width: 800px) {

    .container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .adjust{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .heading{
        position: relative;
        font-size:2.7em;
        margin-top: 0%;
        
       width: 7em;
       z-index: 10;
       align-self: center;
       text-align: center;
    }
    .date{
        width:100%;
        font-size:0.7em;
        text-align: center;
    }
    .logo {
        position: relative;
           width:25em;
           height: 25em;
           display: flex;
           justify-content: center;
           align-items: center;
        }
    .rickmortysvg
    {
        position: absolute;
        width:25em;
        height: 25em;
        transform: scale(0);
        z-index: 2;
        animation: pop 1s forwards ;
        animation-delay: 3s;
    }
    @keyframes pop {
        from{
            transform: scale(0);
        }
        to {transform: scale(1.2);}
    }
   .footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team{
    display: flex;
   flex-direction: column;
}
.about p{
    text-align: center;
    font-size: 15px;
    width:20em ;
}
.copyrights h3{
    font-size: 12px;
}
.footer{
    left:0;
    
}
.sponsors h1{
    font-size: 2em;
}
.sponsors ul li img{
    width:15em;
     height:5em;
     padding-left: 1em;
     padding-right: 0.5em;

}   
 }
 
