html,body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: black;
    color:white;
  overflow-x:hidden;
 
    scroll-behavior: unset;
}
 section{
    width:100%;
    height: 100vh; 
 }
.box{
    position: absolute;
    top:50%;
    left:20%;
    width:200px;
    height: 200px;
 

}
h1{
    width:40vw;
    font-size: 60px;
    line-height: 5vw;
}